<!--templates/base.html-->

{% load static %}
<html>
    <head>
        <title>
            Emploee List
        </title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
    </head>

    <body>
     <div class="container">
        <header>
          <div class="nav-left">
            <h1><a href="/">Emploee List</a></h1>
          </div>
          <div class="nav-right">
            <a href="{% url 'emp_new' %}">+ New Emploee</a>
          </div>
        </header>

         {% if user.is_authenticated %}

            <p>Hi {{ user.username }}!</p>
            
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>

            </form>
         
         {% else %}
            <p>You are not logged</p>

            <a href="{% url 'login' %}">login</a>

         {% endif %}

        
         {% block content %}
         {% endblock content %}

        
         
     </div>
    </body>
</html>